/* Tipografia */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/YZaO6llzOP57DpTBv2GnyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v11/WmVKXVcOuffP_qmCpFuyzQsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaIwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*Estilos generales*/
body {
    font: 400 14px 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 30px;
    color: #727272;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
}

h1 {
    font-size: 50px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

h4 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

h5 {
    font-size: 15px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

h6 {
    font-size: 14px;
    line-height: 32px;
    font-weight: 500;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

strong, small {
    color: #333;
}